@use '../../styles/abstracts/variables' as *;

// ─── Dashboard Container ──────────────────────────────────────────────────────
.dashboardContainer {
  width: 100%;
  padding: 0.25rem 0 2.5rem;
  display: flex;
  flex-direction: column;
  gap: $gap-component-section;

  @media (max-width: 48rem) {
    gap: $gap-component-section-mobile;
  }
}

// ─── Hero ─────────────────────────────────────────────────────────────────────
.heroWrapper {
  width: 100%;
}
