// Flexbox Utilities
.flex-center {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.flex-center-x {
  display: flex !important;
  justify-content: center !important;
}

.flex-center-y {
  display: flex !important;
  align-items: center !important;
}

.flex-between {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.flex-column {
  display: flex !important;
  flex-direction: column !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}
